<div class='col-2 menu_div'>
  {% if main_menu %}
      <ul>
      {% for menu_item in main_menu %}
        {% if menu_item.menu_id == menu_item.parent_id %}
          <div class='parent-menu'> 
            {% if menu_item.url_link == '' %}
              <div class='open-menu'> <fas class='fas fa-arrow-circle-down'></fas> {{ menu_item.menu_name }} </div> 
            {% else %}
              <a href=" {% url menu_item.url_link %} ">
                <div class='open-menu'> <fas class='fas fa-arrow-circle-down'></fas> {{ menu_item.menu_name }} </div> 
              </a>
            {% endif %}

            {% for child_item in main_menu %}
              {% if child_item.parent_id == menu_item.menu_id and child_item.parent_id != child_item.menu_id %}
                {% if child_item.url_link == '' %}
                  <a href=" {% url 'index' %} ">
                {% else %}
                  <a href=" {% url child_item.url_link %} ">
                {% endif %} 
                    <li class='child-menu'> <fas class='far fa-arrow-alt-circle-left'></fas> {{ child_item.menu_name }} </li>
                  </a>
              {% endif %}  
            {% endfor %}
          
          </div>    
        {% endif %}    
      {% endfor %}
      </ul>
  {% else %}
      <p>No menu yet</p>
  {% endif %}
</div>
