* {
    box-sizing: border-box;
  }

div#header {
    background-image: linear-gradient(rgb(121, 220, 233) 40%, rgb(255, 218, 116));
    padding: 5px;
}

#main:after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.content{
  background-color: #fff;
}

.menu_div ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
  }
  
  .menu_div li {
    padding: 8px;
    margin-bottom: 4px;
    background-color :rgb(255, 218, 116);
    box-shadow: 2px 2px 3px rgb(121, 220, 233);
  }
  
  .menu_div li:hover {
    background-color: rgb(121, 220, 233);
    transition: 0.3s;
  }
  
  h1, h2, h3 {
    text-align: center;
}

#footer {
    background-image: linear-gradient(to bottom,  rgb(255, 218, 116) 5%, rgb(121, 220, 233));
    text-align: center;
    font-size: 12px;
    padding: 15px;
}